*.egg-info
*.pyc
*.pyo
*$py.class
*.so
__pycache__
.coverage*
.installed.cfg
.mr.developer.cfg
nosetests.xml
coverage.xml
default.profraw
pyvenv.cfg
.eggs/
.tox/
bin/
build/
eggs/
develop-eggs/
dist/
docs/_build/
lib/
lib64
parts/
